$--main-text-color: #757575;
$--main-title-color: #212121;
$--accent-color: #2196f3;
$--dark-background-color: #2f303a;
$--main-background-color: #ffffff;
$--feature-background-color: #f5f5f5;
$--dark-text-color: #000000;
$--white-text-color:#ffffff;
$--portfolio-buttons-color: #f5f4fa;
$--active-main-color: #188ce8;
$--img-border-color: #eeeeee;
$--header-line-color: #ececec;
$--hover-animation:cubic-bezier(0.4, 0, 0.2, 1);
$--bkg-gradient:linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4));