  
  .feature{
  display: flex;
  justify-content: center;}

  .feature__ikon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  
  
  .feature__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $--main-title-color;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;

    @include tablet{
    justify-content: start;
    }

    @include desktop{
      justify-content: start;
      }

    &--hidden {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;}
  }
  
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    /*& > li:not(:last-child) {
      margin-right: 30px;
    }*/
  }

.feature__item{
  
@include tablet{
  width: calc((100% - 30px) / 2);}

@include desktop{
    width: calc((100% - 90px) / 4);}
}

.feature__ikon {
@include tablet{
  padding: 25px 150px;}

@include desktop{
  padding: 25px 100px;}
}

  .feature__paragraph {
    width: 100%;
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 0;
    
    
    &:nth-child(3n + 1) {
      height: 72px;
    }
  }
  
  
  